.App {
  text-align: left;

}

#App-header {
  background-color: black;
  /*Opacity start*/
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=80);
  -moz-opacity: 0.80;
  -khtml-opacity: 0.8;
  opacity: 0.8;
  /*Opacity end*/
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 0;
  margin: 0;
}

#header-bg {
  font-size: large;
  background: #fff url("https://static1.squarespace.com/static/58b71bb76b8f5b4484b427db/t/58c71fe3bf629ac501bb4225/1489444849435/amionximage_1.jpg") no-repeat fixed top center;
  height: 30em;
  position: relative;
  margin: 0 auto;
  display: block;
  text-align: center;
  background-size: cover;
}

#one .content #amionx-video {
  position: relative;
  text-align: left;
  vertical-align: middle;
  width: 80%;
  margin: 3% 3% 3% 3%;
}

#technology-content2 {
  margin: 5%;
  text-decoration: none;
  text-align: left;
  min-width: 320px;
}

.team-member {
  width: 90%;
  margin: 5%;
  text-align: left;
  padding: 5%;
}

.news-item {
  min-width: 320px;
}


.news-item img {
  margin: 0 0 0 0;
  max-width: 200px;
  min-width: 100px;
  display: inline;
}

@media screen and (max-width: 800px) {
  .news-item h3 {
    font-size: 1em;
  }
}

#press-section {
  clear: both;
}

.news-icons {
  margin: 20px;
  vertical-align: middle;
  align-content: center;
}


#more-news-button {
  margin: 20px;
}
